@{
    ViewData["Title"] = "Home Page";
}

<header class="cabecalho">
    <button class="cabecalho__menu" aria-label="Menu"><i class="fa-solid fa-bars"></i></button>
    <p class="cabecalho__logo"><i class="fa-solid fa-frog icone-logo"></i></p>
    <div class="barra-buscar">
      <input type="search" id="busca" name="q" class="caixa-buscar">
      <button type="submit" class="botao-buscar"><i class="fa-solid fa-magnifying-glass icone-buscar"></i></button>
    </div>
    <div class="menu-barra">
      <ul class="menu-conteudo">
        <li class="menu-itens"><a href="#">Perfil</a></li>
        <li class="menu-itens"><a href="#">Vagas</a></li>
        <li class="menu-itens"><a href="#">Empresas</a></li>
        <li class="menu-itens"><a href="#">Colaboradores</a></li>
      </ul>
    </div>
    <button class="cabecalho__notificacao" aria-label="Notificação"><i class="fa-regular fa-bell"></i></button>
  </header>
  <nav class="menu-lateral">
    <a href="#" class="menu-lateral__link menu-lateral__link--perfil menu-lateral__link--ativo"><i class="fa-solid fa-user icone-link"></i>Perfil</a>
    <a href="#" class="menu-lateral__link menu-lateral__link--vagas"><i class="fa-solid fa-briefcase icone-link"></i>Vagas</a>
    <a href="#" class="menu-lateral__link menu-lateral__link--empresas"><i class="fa-solid fa-building icone-link"></i>Empresas</a>
    <a href="#" class="menu-lateral__link menu-lateral__link--colaboradores"><i class="fa-solid fa-user-group icone-link"></i>Colaboradores</a>
  </nav>
  <main class="principal">
    <article class="box-perfil">
      <img src="~/assets/img/2021_03_19_11_16_IMG_4565.JPG" alt="Foto de perfil" class="perfil__imagem">
      <div class="perfil__conteudo">
        <p class="perfil__nome">Nohanna Lacerda</p>
        <p class="perfil__cargo">Desenvolvedora Jr.</p>
        <p class="perfil__localizacao">Curitiba, PR</p>
      </div>
    </article>
    <article class="box-linguagens">
      <h3 class="linguagens__titulo">Linguagens</h3>
      <ul class="lista__linguagens">
        <li class="lista__linguagens-item">          
          <h4><i class="fa-solid fa-circle icone__lista-html"></i>HTML</h4>
        </li>
        <li class="lista__linguagens-item">         
          <h4><i class="fa-solid fa-circle icone__lista-css"></i>CSS</h4>
        </li>
        <li class="lista__linguagens-item">
          <h4><i class="fa-solid fa-circle icone__lista-csharp"></i>C#</h4>
        </li>
        <li class="lista__linguagens-item">         
          <h4><i class="fa-solid fa-circle icone__lista-js"></i>JavaScript</h4>
        </li>
        <li class="lista__linguagens-item">          
          <h4><i class="fa-solid fa-circle icone__lista-sql"></i>SQL</h4>
        </li>
        <li class="lista__linguagens-item">         
          <h4><i class="fa-solid fa-circle icone__lista-python"></i>Python</h4>
        </li>
      </ul>
    </article>
    <article class="box-formacao">
      <h3 class="formacao__titulo">Formação</h3>
      <div class="formacao__conteudo">
        <p class="formacao__instituicao">Intituto Barigui, PR</p>
        <p class="formacao__curso-ano">Programação full stack, 2021-2022</p>
        <p class="formacao__instituicao">Intituto Barigui, PR</p>
        <p class="formacao__curso-ano">Programação full stack, 2021-2022</p>
      </div>
    </article>
    <article class="box-experiencia">
      <h3 class="experiencia__titulo">Experiência</h3>
      <div class="experiencia__conteudo">
        <p class="experiencia__instituicao">Intituto Barigui, PR</p>
        <p class="experiencia__cargo-ano">Programação full stack, 2021-2022</p>
        <p class="experiencia__instituicao">Intituto Barigui, PR</p>
        <p class="experiencia__cargo-ano">Programação full stack, 2021-2022</p>
      </div>
    </article>
    </article>
    <article class="box-grafico">
      <h3 class="grafico__titulo">Contribuições</h2>
      <div class="grafico__link">
        <a href="https://github.com/"><i class="fa-brands fa-github icone-git"></i></a>
      </div>
      <div class="graph">
        <ul class="months">
          <li>Jan</li>
          <li>Feb</li>
          <li>Mar</li>
          <li>Apr</li>
           <li>May</li>
          <li>Jun</li>
          <li>Jul</li>
          <li>Aug</li>
          <li>Sep</li>
          <li>Oct</li>
          <li>Nov</li>
          <li>Dec</li>
        </ul>
        <ul class="days">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="squares">
          <!-- added via javascript -->
        </ul>
      </div>
    </article>
    <article class="box-recomendacoes">
      <h3 class="recomendacoes__titulo">Recomendações</h3>
      <div class="recomendacoes__conteudo">
        <img src="~/assets/img/foto-perfil-empresa.jpg" alt="Foto perfil" class="recomendacoes__foto">
        <p class="recomendacoes__nome-perfil">Empresa :</p>
        <p class="recomendacoes__comentario">Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o pão duris.Paisis, filhis, espiritis santis.Não sou faixa preta cumpadi, sou preto inteiris, inteiris.</p>
      </div>
    </article>