<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webti</title>

</head>
<body>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <header class="cabecalho">
        <p class="cabecalho__logo"><i class="fa-solid fa-frog icone-logo"></i></p>
    </header>

    <form>
      <div class="form">
        <div class="form-cabecalho">
          Cadastro
        </div>
        <br>
        <div class="inputs">
        <div class="input-box">
          <p class="input-title">Nome completo</p>
          <input type="text" class="input-register" placeholder="Ex: Rafael Nogueira">
          <br>
          <br>
        </div>
        <div class="input-box">
          <p class="input-title">Data de nascimento</p>
          <input type="date" class="input-register">
          <br>
          <br>
        </div>
        <div class="input-box">
          <p class="input-title">Email</p>
          <input type="text" class="input-register" placeholder="Ex: registra.vagas@gmail.com">
          <br>
          <br>
        </div>
        <div class="input-box">
          <p class="input-title">Senha</p>
          <input type="text" class="input-register" placeholder="Ex: vagas123654">
          <br>
          <br>
        </div>
        <div class="input-box">
          <p class="input-title">Pronome</p>
          <input type="text" class="input-register" placeholder="Ex: ele, ela, etc">
          <br>
          <br>
        </div>
      </div>
        
      </div>
    </form>

    <script src="assets/js/menu.js"></script>
    <script src="https://kit.fontawesome.com/1f3046832b.js" crossorigin="anonymous"></script>
</body>
</html>